@import "compass/reset";

body {
  background-color: black;
  color: white;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.game {
  margin: 32px auto;
  width: 640px;
  height: 480px;
}
