@import "compass/reset";

@import "compass/css3/user-interface";

body {
  background-color: black;
  color: white;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
  @include user-select(none);
}

.game {
  margin: 32px auto;
  width: 640px;
  height: 480px;
}

.loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  #level-data {
    width: 480px;
  }
}

.material-btn {
  background: none;
  border: none;
  outline: none;
  @include user-select(none);

  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.08em;
  color: white;

  border-radius: 0.2em;
  margin: 0 auto;
  padding: 0.5em;
  width: 256px;

  text-transform: uppercase;

  &.antimatter {
    background-color: #f43;
  }

  &.matter {
    background-color: #26e;
  }
}

@media screen and
  (min-width: 300px) and
  (min-height: 240px) {
  .game {
    margin: auto;
  }

  .game,
  canvas {
    width: 320px;
    height: 240px;
  }

  .material-btn {
    width: 320px;
  }
}

@media screen and
  (min-width: 480px) and
  (min-height: 360px) {
  .game {
    margin: auto;
  }

  .game,
  canvas {
    width:  480px;
    height: 360px;
  }

  .material-btn {
    width: 480px;
  }
}

@media screen and
  (min-width: 640px) and
  (min-height: 512px) {

  .game {
    margin: 32px auto;
    width: 640px;
    height: 480px;
  }

  canvas {
    width: auto;
    height: auto;
  }

  .material-btn {
    width: 256px;
  }
}
